@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/yekanbakh/YekanBakh-Light.woff2') format('woff2')
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/yekanbakh/YekanBakh-Regular.woff2') format('woff2')
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/yekanbakh/YekanBakh-SemiBold.woff2') format('woff2')
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/yekanbakh/YekanBakh-Bold.woff2') format('woff2')
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/yekanbakh/YekanBakh-ExtraBold.woff2') format('woff2')
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/yekanbakh/YekanBakh-ExtraBlack.woff2') format('woff2')
}

@font-face {
    font-family: titillium;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/titillium/titillium-web-v4-latin-300.woff2') format('woff2')
}

@font-face {
    font-family: titillium;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/titillium/titillium-web-v4-latin-700.woff2') format('woff2')
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main-back: #050505;
    --color-mate-black: #131617;
    --color-primary: rgba(5, 243, 111, 0.97);
    --color-hover-sec: #10b358;

    --color-secondary: #ff7300;
    --color-hover-sec: #ff3c00;

    --color-border: rgba(255, 255, 255, .2);


    --text-color-prim: #212529;
    --text-color-sec: #6c757d;

    --font-family-base: YekanBakh, 'Roboto', sans-serif;
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-lg: 18px;

    --radius-4: 4px;
    --radius-8: 8px;
    --radius-10: 20px;
    --radius-15: 25px;

}

html {
    scroll-behavior: smooth;
    margin: 0 !important;
    padding: 0;


}

.raman-home-page a,
.raman-home-page h1,
.raman-home-page h2,
.raman-home-page h3,
.raman-home-page h4,
.raman-home-page h5,
.raman-home-page h6 {
    font-family: var(--font-family-base);
    text-decoration: none;
}

.text-gr {
    background: linear-gradient(172deg, rgba(255, 255, 255, 1) 28%, rgba(112, 112, 112, 1) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.default-btn-style {

}

.raman-container p {
    font-family: var(--font-family-base) !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.row {
    margin: 0 !important;
}

.raman-container {
    line-height: 1.5;
    font-family: var(--font-family-base) !important;
    font-weight: 400;
    text-align: center !important;
}

/*Button Glow Style*/
.glow-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.glow-button {
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    min-width: 200px;
    background-color: #ffffff30;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    border: 1px solid var(--color-mate-black);
    transition: 0.4s all;
    margin: 10px 0 0 0;
    animation-delay: 5s;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

.glow-button .animated-border-box,
.glow-button .animated-border-box-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    pointer-events: none;
}

.glow-button .animated-border-box-glow {
    filter: blur(20px);
}

.glow-button .animated-border-box::before,
.glow-button .animated-border-box-glow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9999px;
    height: 9999px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-image: conic-gradient(rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0) 25%);
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: rotate 3s linear infinite;
    z-index: -2;
    border-radius: 50px;
}

.glow-button .animated-border-box::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: var(--color-mate-black);
    border-radius: 50px;
}


a.glow-button:hover {
    background-color: rgba(255, 255, 255, 0.69);
    transition: 0.4s all;
    color: #fff;
}

.glow-button svg,
.services-btn svg {
    background-color: #ffffffba;
    border-radius: 100px;
    transform: rotate(285deg);
    padding: 3px;
    margin-right: 7px;
    transition: transform 0.4s ease-in-out;
}

.glow-button:hover svg,
.services-btn:hover svg {
    background-color: #fff;
    transform: rotate(645deg);
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}


/*Home-page style*/
.hero-section-bc-img {
    background-image: url("../images/first-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-section-bc-img.hero-section-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.hero-section-overlay:after {
    content: "";
    /* background: #ffffff; */
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 36%, #030303 92%);
    display: block;
    z-index: 999999;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.hero-section-overlay h1 {
    font-family: var(--font-family-base) !important;
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(262deg, rgba(255, 255, 255, 1) 36%, rgba(35, 148, 49, 1) 92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section-overlay p {
    max-width: 590px;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 45px;
    color: #fff;
    animation-delay: 3s;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;

}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    60% {
        opacity: 0.5;
    }
    88% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    60% {
        opacity: 0.5;
    }
    88% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.en-title span {
    font-family: var(--font-family-base) !important;
    font-size: 48px;
    color: #fff;
    font-weight: 400;
    background: linear-gradient(172deg, rgba(255, 255, 255, 1) 28%, rgba(112, 112, 112, 1) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section-overlay h1 span {
    color: var(--color-primary);
}


.animated-text {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.animated-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: riseUp 0.6s forwards;
}

.animated-text span.space {
    width: 10px;
    animation: none;
    opacity: 0;
}

@keyframes riseUp {
    to {
        opacity: 0.7;
        transform: translateY(0);
    }
}

.animated-text span:nth-child(1) {
    animation-delay: 0.05s;
}

.animated-text span:nth-child(2) {
    animation-delay: 0.1s;
}

.animated-text span:nth-child(3) {
    animation-delay: 0.15s;
}

.animated-text span:nth-child(4) {
    animation-delay: 0.2s;
}

.animated-text span:nth-child(5) {
    animation-delay: 0.25s;
}

.animated-text span:nth-child(7) {
    animation-delay: 0.35s;
}

.animated-text span:nth-child(8) {
    animation-delay: 0.4s;
}

.animated-text span:nth-child(9) {
    animation-delay: 0.45s;
}

.animated-text span:nth-child(10) {
    animation-delay: 0.5s;
}

.animated-text span:nth-child(11) {
    animation-delay: 0.55s;
}

.animated-text span:nth-child(12) {
    animation-delay: 0.6s;
}

.animated-text span:nth-child(13) {
    animation-delay: 0.65s;
}

.animated-text span:nth-child(14) {
    animation-delay: 0.7s;
}

.animated-text span:nth-child(15) {
    animation-delay: 0.75s;
}

.animated-text span:nth-child(16) {
    animation-delay: 0.8s;
}

.animated-text span:nth-child(17) {
    animation-delay: 0.85s;
}

.animated-text span:nth-child(18) {
    animation-delay: 0.9s;
}

.animated-text span:nth-child(19) {
    animation-delay: 0.95s;
}

.animated-text span:nth-child(20) {
    animation-delay: 1s;
}

.animated-text span:nth-child(21) {
    animation-delay: 1.05s;
}

.animated-text span:nth-child(22) {
    animation-delay: 1.1s;
}

.logo-carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    width: 100%;
    box-shadow: 30px -36px 104px 74px #030303;
    background-color: #030303;
}


.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll-left 30s linear infinite;
}

.ra-logo-carousel-item {
    flex: 0 0 auto;
    width: calc(100% / 14);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.ra-logo-carousel-item img {
    max-width: 100%;
    max-height: 60px;
    object-fit: contain;
    filter: grayscale(100%);
}


@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


.ra-serv-sec {
    height: 800px;
    margin-top: 140px !important;
}

.section-en-title {
    background-color: #ffffff29;
    display: inline-flex;
    padding: 11px 17px 7px 10px;
    margin-bottom: 15px;
    color: #ffffff73;
    border-radius: 50px;
    align-items: center;
    gap: 13px;
    border: 1px solid #ffffff38;
    font-weight: 100;
    font-size: 15px;
    margin-top: 50px;
}

.section-en-title img {
    width: 20px;
    margin-top: -4px;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(172deg, rgba(255, 255, 255, 1) 28%, rgb(141, 141, 141) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title-desc {
    background: linear-gradient(172deg, rgba(255, 255, 255, 1) 28%, rgb(141, 141, 141) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-item-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}


/* Swiper base styles */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}


.swiper-slide {
    /* عرض را اینجا مشخص نمی‌کنیم تا خود Swiper آن را محاسبه کند */
    /* width: 190px; */ /* این خط باید حذف یا کامنت شود */

    height: 230px;
    scale: 1.25;
    transition: scale 250ms ease-in-out, opacity 250ms ease-in-out;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    opacity: 0.2;
    position: relative;
    background: radial-gradient(126.42% 76.6% at 50% 32.26%, rgb(33 33 33), rgb(0 0 0 / 99%));
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1) inset, 0 0 20px 3px rgba(7, 13, 79, .1), 0 0 40px 20px rgba(84, 95, 102, .1), 0 0 0 1px rgba(255, 255, 255, .06) inset;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 30px;
}


.swiper-slide.swiper-slide-active {
    scale: 2;
    z-index: 10;
    opacity: 1;
}


.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
    scale: 1.7;
    z-index: 5;
    transition-duration: 150ms;
    opacity: 1;
}

.swiper-slide.swiper-slide-next + .swiper-slide {
    z-index: 2;
    opacity: 0.2;
}

.swiper-button {
    height: 3rem;
    width: 3rem;
    z-index: 6;
    backdrop-filter: blur(6px) saturate(100%);
    -webkit-backdrop-filter: blur(13px) saturate(200%);
    background-color: rgb(0 0 0 / 21%);
    border-radius: 48px;
    border: 1px solid rgb(255 255 255 / 30%);
    font-size: 13px;
    transition: 0.4s all;
}

.swiper-button.swiper-button-prev {
    left: 9%;
}

.swiper-button.swiper-button-next {
    right: 9%;
}


.swiper-button:hover {
    background-color: #000000;
    backdrop-filter: blur(6px) saturate(100%);
    -webkit-backdrop-filter: blur(13px) saturate(200%);
    background-color: rgb(72 72 72 / 43%);
    border: 1px solid rgb(255 255 255 / 76%);
    box-shadow: 0 0 26px 5px #a5a5a536;
    scale: 1.3;
    transition: 0.4s all;
}

.swiper-button::after {
    font-size: 18px;
    color: #fefdfd59;
    transition: 0.4s all;
}

.swiper-button:hover::after {
    font-size: 18px;
    color: #fefefed4;
    transition: 0.4s all;
    scale: 1.3;
}
.swiper:before {
    content: "";
    /* background: red; */
    width: 265px;
    display: block;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background: linear-gradient(269deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.51) 52%, rgba(3, 3, 3, 0.87) 100%);
}
.swiper:after {
    content: "";
    background: red;
    width: 200px;
    display: block;
    height: 500px;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    background: linear-gradient(102deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.51) 52%, rgba(3, 3, 3, 0.87) 100%);
}
.swiper-slide-active{
    z-index: 6;
}
.swiper-slide.swiper-slide-prev .services-btn,
.swiper-slide.swiper-slide-next .services-btn{
        user-select: none;
        pointer-events: none;
}
.kpi-item-grid {
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 26vw;
    height: 22vw;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .05) 1px, transparent 0), linear-gradient(180deg, hsla(0, 0%, 100%, .05) 1px, transparent 0);
    background-size: 3.2vw 3.2vw;
    background-position: 50%;
    z-index: 0;
    -webkit-mask-image: linear-gradient(90deg, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(180deg, transparent, #010101 10%, #010101 90%, transparent);
    -webkit-mask-composite: destination-in;
    mask-image: linear-gradient(90deg, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(180deg, transparent, #010101 10%, #010101 90%, transparent);
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
}

.swiper-slide img {
    width: 25px;
    margin-bottom: 11px;
}

.services-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 23px;
}

.swiper-slide p.services-desc {
    font-size: 9px !important;
    color: #a1a1a1;
    text-align: right;
    font-weight: 100 !important;
    margin: 0;
}

.services-btn {
    background-color: #141617;
    border-radius: 50px;
    font-size: 7px;
    padding: 4px 8px 4px 4px;
    color: #bbbbbb;
    margin-top: 20px;
    border: 1px solid #218f4042;
    transition: 0.3s all;
}

.services-btn svg {
    background-color: #03af4efc;
    width: 15px;
    height: 15px;
}

.services-btn:hover svg {
    background-color: var(--color-primary);

}

.services-btn:hover {
    color: #fff;
    border: 1px solid #027033;
    transition: 0.3s all;
}

.swiper-slide-next .services-btn,
.swiper-slide-prev .services-btn {
    opacity: 0.4 !important;
}

.service-en-title {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 34%, rgb(67 67 67 / 82%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 23px;
    position: absolute;
    top: 38px;
    left: 12px;
}